/*UNIVERSIAL BASE STYLE FOR ALL PAGES*/
/*Body Style*/
strong{
  color: #004cc3;  
}
a{
  outline: 0;
}

.btn{
  background: #004cc3;
  color: #fff;
}

/*Usefull Classes*/
.center{ text-align: center; }
.noPadding{	padding: 0; }
.flexWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Navbar Style*/
.navbar{	background: #000; }

/*Footer Style*/
.footer{
  line-height: 7vh;
  background: #000;
}

.footerIcon{
	widows: 4vh;
	height: 4vh;
}

@media (min-width: 768px) {
  .navbar-brand.abs{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0.5rem;
    text-align: center;
    margin:0 auto;
  }
}

