/*UNIVERSIAL BASE STYLE FOR ALL PAGES*/
/*Body Style*/
a{
  outline: 0;
}

.btn {
  color: rgba(255, 255, 255, 0.8);
  background: #004cc3;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0px 15px rgba(255, 255, 255, .8);
}

/*Usefull Classes*/
.center{ text-align: center; }
.noPadding{	padding: 0; }
.flexWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Navbar Style*/
.navbar{	background: #000; }
.nav-item{ z-index: 20; }

/*Footer Style*/
.footer{
  height:56px;
  background: #000;
}

.footerIcon{
  height: calc(42px);
  margin-top: 7px;
}

@media (min-width: 768px) {
  .navbar-brand.abs{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0.5rem;
    text-align: center;
    margin:0 auto;
  }
}


