/*Base Styling for Chat Pages*/
/*Base page setup*/
html, body{
    height: 100vh;
    overflow: hidden;
}
ul#messages > li.pending{
    display: none;
}

#bodyContainer,#chatWrapper{
    max-height: 90vh;
}

#bodyContainer{
    padding: 0;
}

body{
    background: url("/assets/images/home/headerImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input{
    background: #111;
    color: #e5e5e5;
    border: 2px solid #004cc3;
}

.titleWrapper{
    font-weight: bolder;
    text-transform: uppercase;
    width: 80%;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-right: auto;
    margin-left: auto;
    border-radius:360px;
    color: #fff;
    border-bottom: 4px solid #004cc3;
}

.titleWrapper *{
    text-align: center;
}

/*Other Chats Setup*/
#otherChatsWrapper{
    background-color: #111;
    height: 93vh;
    border-right: 4px solid #004cc3;
}

#chatHolder{
    max-height: 93%;
    overflow: hidden;
    overflow-clip: auto;
}

/*Chat setup*/
#chatWrapper{
    color: white;
    height: 100vh;
}

#chatWrapper h1{
    padding-top: 1%;
    text-align: center;
    text-transform: uppercase;
}

ul#messages {
    background: #111;
    color: #e5e5e5;
    height: 80%;
    overflow: auto;
    padding: 0 3px;
    border: 2px solid #004cc3;
}

#messages li {
    margin: 0.35em 0;
    padding: 0;
    font-size: 1.5em;
}

#messages small {
    display: block;
    font-size: 0.59em;
    color: gray;
}

ul#messages li.pending {
    color: #aaa;
}

#userForm p {
    position: relative;
    margin: 0.5em 0;
    padding: 0;
}

#userForm p button {
    position: absolute;
    top: 0;
    right: 0.5em;
    bottom: 0;
}

#messageBox input{
    width: 100%;
    margin-bottom: 1%;
}


/*Online Users Setup*/
#onlineUsers{
    background-color: #111;
    max-height: 93%;
    border-left: 4px solid #004cc3;
}

::-webkit-scrollbar {
    width: .2em;
    height: 1em;
    display: none;
}
