html{
  background-color: #333;
}

/*Body Top Style*/
#bodyTop{
  text-align: center;
}

#bodyTop{
  padding: 3%;
  background: url("/assets/images/home/headerImage.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

#bodyTopContent{
  background: #A2ABD4;
  padding: 2%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #004cc3;
  box-shadow: 15px 10px rgba(0,0,0,.30);
  border-radius: 10px;
}

/*bodyBottom style*/
#bodyBottom{
  padding-bottom: 10vh;
  background-color: #333;
  border-top: 10px solid #004cc3;
}

#bodyBottom h3{
  color: #e5e5e5;
  text-align: center;
}

.titleWrapper{
  width: 30%;
  border-bottom: 4px solid #004cc3;
  margin: 1%;
  margin-right: auto;
  margin-left: auto;
  border-radius:360px;
}

/*gameBox style*/
.gameBox{ 
  width: 25%;
  height: 25vh;
  margin: 1%;
  border-radius: 10px;
  box-shadow: 8px 8px rgba(0,0,0,.30);
}

.gameBox a{
  display: block;
  height: 100%;
}

#csgoBox{
  background: url("/assets/images/home/csgoBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#lolBox{
  background: url("/assets/images/home/lolBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#pubgBox{
  background: url("/assets/images/home/pubgBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#fortniteBox{
  background: url("/assets/images/home/fortniteBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Other Chats*/
#generalBox{
  background: url("/assets/images/home/generalBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#rolePlayBox{
  background: url("/assets/images/home/rollplayBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  #bodyTopContent{
    width: 95%;
  }
  
  .titleWrapper{
    width: 80%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}
