html{
  background-color: #333;
}

/*Body Top Style*/
#bodyTop{
  text-align: center;
}

#bodyTop{
  padding: 3%;
  background: url("/assets/images/home/headerImage.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding-top:0;
}

#bodyTopContent{
  background: rgba(0,0,0,.55);
  color: white;
  padding: 2%;
  padding-top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 15px 10px rgba(0,0,0,.30);
  border-radius: 10px;
}

#bodyTopContent p{
  line-height: 2.5em;
}

#bodyTopContent h1{
  margin-bottom: 2%;
}

#bodyTopButtons a{
  width: 15%;
  margin: 2%;
}

#bodyTopButtons a:hover{
  color: white;
}

/*bodyBottom style*/
#bodyBottom{
  padding-bottom: 10vh;
  background-color: #111;
  border-top: 10px solid #111;
}

#bodyBottom h3{
  color: #e5e5e5;
  text-align: center;
  margin-top: -5%;
}

.titleWrapper{
  font-weight: bolder;
  text-transform: uppercase;
  width: 30%;
  margin: 1%;
  padding-top: 3%;
  padding-bottom: 1%; 
  margin-right: auto;
  margin-left: auto;
  border-radius:360px;
  border-bottom: 4px solid #004cc3;
}

/*gameBox style*/
.gameBox{ 
  width: 20%;
  height: 20vh;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 8px 8px rgba(0,0,0,.30);
}

.gameBox a{
  display: block;
  height: 100%;
}

#csgoBox{
  background: url("/assets/images/home/csgoBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#lolBox{
  background: url("/assets/images/home/lolBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#pubgBox{
  background: url("/assets/images/home/pubgBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#fortniteBox{
  background: url("/assets/images/home/fortniteBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Other Chats*/
#generalBox{
  background: url("/assets/images/home/generalBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#rolePlayBox{
  background: url("/assets/images/home/rollplayBox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  #bodyTopContent{
    width: 95%;
  }
  
  #bodyTopButtons a{
    width: 30%;
    margin: 2%;
  }
  
  .titleWrapper{
    width: 80%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

